<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body style="text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;
               font-family: 'Open Sans', sans-serif;
               font-size:0.9;
               background-color: #f7f7f7;
               width: 500px">
  <div style="width: 100%; height: auto; background-color: #680F00; max-width: 500px;
               width: 500px; margin: 0 auto"><img src="cid:logo" style="height: 50px"/></div>
      <img style="height: 200px; width: 100%;
               max-width: 500px; margin: 0 auto" src="cid:cross"/>
      </div>
      <h1 style="text-align: center; margin: 50px; font-size: 2em">Ihre Brötchen liegen bereit zur Abholung.</h1>
      <h2>Beispiel Bäckerei, Bergstraße 145, 21823 Bremen</h2>  
      <h2>Ihr Bestell-Code:&nbsp;{{code}}</h2>
      <p style="max-width: 500px">Gehen Sie einfach in die gewählte Bäckerei und nehmen sie Ihre Bestellung mit. Die Brötchentüten liegen sichtbar aus und es ist kein Anstellen in der Schlange nötig.  </p>
      <p></p>
      <p></p>
      <div style="display: flex; margin: 0 auto; justify-content: center; align-items: center; background-color: #680F00; width: 100%; color: white"><p>2019&nbsp;</p><a href="https://brotritter.de" style="color: white">Brotritter.de</a></div>
  </body>
  </html>