<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body style="text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;
               font-family: 'Open Sans', sans-serif;
               font-size:0.9;
               background-color: #f7f7f7">
  <div style="width: 100%; height: auto; background-color: #680F00; max-width: 500px;
               width: 500px; margin: 0 auto"><img src="cid:logo" style="height: 50px"/></div>
      <img style="height: 200px; width: 100%;
               max-width: 500px; margin: 0 auto" src="cid:cross"/>
      <h1 style="text-align: center; margin: 50px; font-size: 2em">Sie können ein  neues Passwort erstellen!
      </h1>
      <div style="text-align: center; background-color: blue; padding: 20px 30px; font-size: 1.5em; color: white; box-shadow: 3px 2px 3px grey; cursor: pointer" OnClick="location.href='{{link}}'">Neues Passwort erstellen</div>
      <p></p>
      <p></p>
      <p></p>
      <span style="max-width: 500px"><b>Sie haben auf <a style="color: #990000; cursor: pointer;" href="https://brotritter.de">Brotritter.de</a> „Passwort vergessen“ geklickt und möchten nun ein Neues erstellen. Falls dies nicht Ihr Wunsch ist, ignorieren sie diese Email.</b></span>
      <p></p>
      <p></p>
      <p></p>
      <div style="display: flex; margin: 0 auto; justify-content: center; align-items: center; background-color: #680F00; width: 100%; color: white"><p>2019&nbsp;</p><a href="https://brotritter.de" style="color: white">Brotritter.de</a></div>
  </body>
  </html>