<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/htmlTest.css' />

  </head>
  <body style="text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center">
      <h1 style="color: #ff9900;
                 margin: 0 auto;
                 font-size: 4em">Brotritter</h1>
      <div style="margin-top: 40px;
                  text-align: left;
                  width: 70%;
                  margin: 40px auto;
                  font-size: 1.3em">
          <p style="text-decoration: underline;
                    font-family: Helvetica">Newsletter bekommen</p>
          <br>
          <br>
          <b>Vielen Dank, dass sie sich für den Newsletter von Brotritter registriert haben, wir werden sie bei Neuigkeiten und Änderungen immer auf dem Laufenden halten</b>
          <br>
          <br>
          <p>Wenn sie diese E-Mail fälschlicherweise erhalten haben, bitte ignorieren sie, sie einfach.</p>
          <br>
          <p style="font-size: 0.7em">Falls sie irgenwelche Probleme, Verbesserungsvorschläge oder Kritik haben, können sie uns einfach telefonisch oder per Email erreichen. Wir werden versuchen so schnell wie möglich auf sie zurückzukommen.</p>
      </div>
  </body>
</html>