<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body style="text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;
               font-family: 'Open Sans', sans-serif;
               font-size:0.7;
               background-color: #f7f7f7;
               max-width: 500px;
               width: 500px;">
  <div style="width: 100%; height: auto; background-color: #680F00; max-width: 500px;
               width: 500px; margin: 0 auto"><img src="cid:logo" style="height: 50px"/></div>
      <img style="height: 200px; width: 100%;
               max-width: 500px; margin: 0 auto" src="cid:cross"/>
      <p></p>
      <p></p>
      <p></p>
      <h1 style="text-align: center; margin: 50px; font-size: 2em">Anmeldebestätigung</h1>
      <span style="max-width: 500px"><b>Dies ist die bestätigung, dass Sie sich einen Account bei <a style="color: #990000; cursor: pointer;" href="https://brotritter.de">Brotritter.de</a> gemacht haben. Sollten sie diese E-Mail fälschlicherweise erhalten haben, so ignorieren Sie Diese bitte.</b></span>
      <p></p>
      <div style="display: flex; margin: 0 auto; justify-content: center; align-items: center"><p>2019&nbsp;</p><a href="https://brotritter.de" style="color: black">Brotritter.de</a></div>
  </body>
  </html>