.dsvg-container{
    width: 80%;
    text-align: left;
    margin: 0 auto
}

.dsvg-container h1{
    color: black;
    text-shadow: none
}

.dsvg-container h1,
.dsvg-container h2{
    text-decoration: underline;
}

.dsvg-container h1{
    margin-top: 120px;
    margin-bottom: 20px
}

.dsvg-container h2{
    margin-top: 40px
}

.dsvg-container h3{
    padding-top: 10px
}

.overdiv{
    height: auto;
    min-height: 100%;
    margin-bottom: 0px
}

.impress{
    margin-top: 100px
}

@media only screen and (max-device-width: 480px) {
    .bild{
        border-bottom: 7px solid #ff9900;
        height: 700px;
        max-height: 700px
    }
}