.bild h1{
    margin-top: 0px;
    text-decoration: underline
}

.bild{
    background-image: url(../images/BrotriterBakery3.jpeg);
    height: auto;
    width: 100%
}

.membercon{
    background-color: #dedddd;
    width: 50%;
    max-width: 670px;
    border-radius: 20px;
    margin: 40px 0;
    border: solid 4px #ff9900;
    height: auto
}

.memberheader{
    width: 100%;
    text-align: center;
    background-color:  rgba( 193, 193, 193, 0.845 );
    color: #727272;
    margin-top: 10%;
    padding: 30px 0px;
    margin-bottom: 10%
}

.impress{
    margin-top: 0px
}

h1{
    color: #727272;
    text-shadow: 0px 0px 0px rgba( 119, 119, 119, 1 )
}

.membercon div{
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-left: 5%
}

.form-control{
    margin: 7px 0px 0px 0px;
    width:  85%;
    max-width:  670px
}

 .textarea{
    height: 200px;
     font-family: Helvetica;
    padding: 10px;
}

.loginbutton{
    display: block;
    margin-top: 20px;
    width: auto;
    margin: 20px auto;
}

@media only screen and (max-device-width: 768px) {  
    .bild{
        border-bottom: 5px solid #ff9900
    }
    .membercon{
        font-size: 1.6em;
        width: 80%;
        max-width: 100%;
    }
    .memberheader{
        font-size: 1.2em
    }
}

@media only screen and (max-device-width: 480px) {    
    .membercon{
        width: 90%;
        max-width: 870px;
        font-size: 2em
    }
}