@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Crete+Round|Francois+One|Open+Sans|Righteous|Roboto|Ubuntu&display=swap");
html,
body {
  height: 100%;
}

.orders {
  width: 40%;
  max-width: 700px;
  margin: 50px auto;
  min-height: 100%;
  height: auto;
  transition: 0.3s;
}

.closeStore {
  border-radius: 7px;
  padding: 10px;
  background-color: white;
  color: rgb(192, 192, 192);
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
  border: 2px solid rgb(192, 192, 192);
}

.closeStore:hover {
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 2px solid rgba(81, 203, 238, 1);
}

.itsClosed {
  border-radius: 20px;
  padding: 10px;
  background-color: #7e7e7e;
  color: white;
  margin-bottom: 20px;
  transition: 0.4s;
  text-align: center;
  cursor: pointer;
}

.section {
  width: 99.9%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ff9900;
  color: white;
  font-size: 1.23em;
  font-weight: 700;
  border-radius: 20px;
  text-align: center;
}

.balken {
  color: white;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.timepicker {
  width: 194px;
  height: 35px;
  margin-top: 8px;
  color: black;
  text-align-last: center;
  margin-bottom: 20px;
}

.killbuns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.killbuns h2 {
  margin-right: 10px;
  color: black;
}

.killbuns select {
  margin-left: 10px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background: url(fff-0-2.png) repeat;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.viereck {
  background-color: #5b0000;
}

.inner-container-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data {
  display: flex;
}

.products,
.products2 {
  border: 1px solid #c4c4c4;
  height: auto;
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.products2 {
  border: 0px solid #c4c4c4;
  visibility: hidden;
}

.section {
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background-color: rgba(109, 109, 109, 0.783);
  color: white;
  font-size: 1.43em;
  font-weight: 700;
  cursor: pointer;
}

.sec {
  display: none;
}

.sec1 {
  display: block;
}

.section:hover {
  background-color: #9f9d9d;
}

.section p {
  padding-left: 10px;
}

.section i {
  padding-right: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.products .section {
  border-radius: 0px;
}

.products .section p {
  margin-left: 10px;
  font-size: 0.9em;
}

.orders .section {
  text-align: center;
  justify-content: center;
  background-color: #ff9900;
  cursor: default;
}

.bunheader {
  height: auto;
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 10px 20px;
}

.bunheader:hover {
  background-color: rgba(109, 109, 109, 0.783);
  cursor: default;
}

.test {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.product,
.cproduct {
  border-bottom: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  z-index: 1;
}

.closer {
  width: 80%;
  max-width: 600px;
  min-height: 200px;
  height: auto;
  background-color: white;
  border: 3px solid #ff9900;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.inner-closer {
  width: 90%;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#forToday {
  position: relative;
}

.message {
  min-height: 33px;
  height: auto;
  min-width: 33px;
  width: auto;
  background-color: rgb(173, 2, 2);
  border-radius: 50%;
  margin-left: auto;
  position: absolute;
  right: 2%;
  text-align: center;
}

.decider {
  display: flex;
  margin: 10px auto;
  width: 80%;
  justify-content: space-around;
  margin-top: 30px;
}

.close {
  margin-left: auto;
}

.yes {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #ff9900;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.yes:hover {
  background-color: #c07403;
}

.yesOpen {
  padding: 5px 45px;
}

.no {
  cursor: pointer;
  padding: 10px;
}

.no:hover {
  text-decoration: underline;
}

.cproduct {
  background-clip: padding-box;
  background-color: rgb(236, 236, 236);
  border-bottom: 1px solid #c4c4c4;
}

.cproduct .thetitle {
  color: #d3d3d3;
}

.cproduct .iname .fa-redo-alt {
  text-decoration: none !important;
}

.productholder {
  width: 100%;
  height: 4em;
  position: relative;
  font-size: 1.1em;
}

.product:hover {
  background-color: #eaeaea;
}

.cproductpic {
  background-size: cover;
  height: 4em;
  width: 140px;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.productpic {
  background-size: cover;
  height: 4em;
  width: 140px;
}

.productpic-pop {
  background-size: cover;
  height: 3em;
  width: 120px;
}

.productinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 4em;
}

.thetitle {
  width: 50%;
  text-align: center;
}

.product .iname {
  width: 100%;
  margin: 0 auto;
}

.iname {
  font-weight: 700;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kasse .break {
  background-color: #c4c4c4;
}

.connector {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20;
  right: 0;
  top: 50;
  margin-right: 7%;
  position: absolute;
}

.connectorfake {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20;
  right: 0;
  top: 50;
  margin-right: 7%;
}

.warenkorb {
  height: auto;
  min-height: 180px;
  position: relative;
  margin-bottom: 40px;
}

.sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 1px solid #c4c4c4;
}

.sum p {
  padding: 15px;
  font-weight: 700;
}

.price {
  padding-right: 15px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number {
  margin-right: 5px;
}

.orders {
  width: 50%;
  max-width: 850px;
}

.bild {
  height: 400px;
  max-height: 400px;
}

.bild h1 {
  margin-top: 200px;
}

.availibility {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 50px auto;
}

.inner-container-two {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.fa-check {
  margin: 0 auto;
  color: #ff9900;
  font-size: 7em;
}

.deleter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.deleter .form-control {
  margin-top: 0px;
}

.none {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 700;
  height: 400px;
  width: 100%;
  border: 3px solid #ff9900;
  margin-top: 30px;
  background-color: white;
  border-radius: 30px;
}

.delete-holder {
  display: flex;
  margin: 20px auto;
  display: inline-flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.delete {
  padding: 10px 20px;
  background-color: #f71111;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.goback {
  cursor: pointer;
}

.goback:hover {
  text-decoration: underline;
}

.delete:hover {
  background-color: #920000;
}

.confirm {
  padding: 5px 20px;
  background-color: #0072f4;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.confirm:hover {
  background-color: #005eca;
}

.regal-holder {
  padding-right: 15px;
  border-right: 1px solid black;
}

.failure {
  padding: 5px 20px;
  background-color: #d3d3d3;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.failure:hover {
  background-color: #a5a5a5;
}

.order-container {
  padding: 20px;
}

.order-container-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.order-holder p {
  padding: 4px 0px;
}

.inner-order-container {
  display: flex;
  padding: 20px;
}

.inner-order-container i {
  font-size: 2.2em;
}

.order {
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  transition: 0.3s;
  background-color: white;
}

.order p {
  margin-left: 10px;
  text-align: left;
  font-size: 1.2em;
}

.order h3 {
  font-weight: 600;
  font-size: 1.6em;
  padding-top: 20px;
  padding-bottom: 10px;
  color: black;
  text-decoration: underline;
}

.f-pass {
  text-shadow: 1px 1px 1px black;
  font-family: "Crete Round", serif;
  font-size: 3em;
  font-weight: 900;
}

#h3 {
  padding-top: 0px;
  text-decoration: underline;
}

.order-holder {
  display: flex;
}

.order-holder .bun-amount {
  margin-left: 5px;
}

.buns div {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.balken2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  border-bottom: solid 2px #ff9900;
  padding: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.tab:hover {
  background-color: #ff9900;
  color: white;
}

.chip-nr-container,
.time-holder,
.code-holder {
  display: flex;
  align-items: center;
}

.chip-nr-container i,
.time-holder i,
.code-holder i {
  font-size: 1.5em;
}

.tabchange {
  background-color: #ff9900;
  color: white;
}

#tab1 {
  border-right: 1px solid #ff9900;
}

#tab3 {
  border-left: 1px solid #ff9900;
}

.cproduct .fa-redo-alt {
  font-size: 1.1em;
  color: #ff9900;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.fa-redo-alt:hover {
  font-size: 1.15em;
  color: rgb(192, 115, 0);
}

@media only screen and (max-width: 980px) {
  .viereck {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    height: 75px;
  }
  .f-pass {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 980px) {
  .viereck {
    display: none;
  }
}

@media only screen and (min-width: 1350px) {
  .orders {
    display: block;
  }
  .availibility {
    display: flex;
  }
}

@media only screen and (max-width: 1350px) {
  .productpic,
  .cproductpic {
    display: none;
  }
  .products {
    width: 100%;
  }
  .bunheader {
    width: 100%;
  }
  .availibility {
    width: 70%;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .data {
    min-height: 100%;
  }
  .tab {
    display: flex;
  }
  .balken {
    box-shadow: 0px 0px 0px black;
  }
  .orders {
    width: 70%;
  }
  .orders {
  }
}

@media only screen and (max-device-width: 520px) {
  .products {
    width: 100%;
  }
  .bunheader {
    width: 100%;
  }
  .availibility {
    width: 70%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
  }
  .data {
    min-height: 100%;
  }
  .tab {
    display: flex;
    font-size: 1.4em;
  }
  .balken {
    box-shadow: 0px 0px 0px black;
  }
  .orders {
    width: 70%;
  }
  .orders {
    font-size: 1.4em;
  }
}
