
html, body{
    height: 100%;
    min-height: 100%
}

.newsdiv{
    min-height: 100%;
    height: auto;
    background-image: url(../images/BrotritterBakery2.JPG);
    background-size: cover;
    padding-bottom: 100px

}

.newsheader{
    width: 100%;
    background-color: rgba( 193, 193, 193, 0.845 );
    text-align: center;
    color: #727272;
    margin-bottom: 100px;
    padding: 20px 0px
}

.newscon h5{
    padding-bottom: 10px
}

.newsheader h1{
    color: #727272;
        text-shadow: 0px 0px 0px #606060
}

.bild .newsheader{
    margin-top: 10%;
}

.bild{
    background-image: url(../images/BrotritterBakery2.JPG);
    height: auto;
    min-height: 100%;
    padding-bottom: 100px
}

.newscon h5{
    margin: 10px 0
}

.newscon{
    background-color: rgba( 193, 193, 193, 0.845 );
    width: 40%;
    max-width: 600px;
    border-radius: 20px;
    margin: 40px 0;
    border: solid 4px #ff9900;
    height: auto;
    color: white;
    text-align: center
}

.impress{
    margin-top: 0px
}

.newscon div{
    text-align: left;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-left: 5%
}

h5{
    display: block;
    margin: 0 auto
}

.form-control{
    margin: 7px 0px 0px 0px;
    width:  85%;
    max-width:  670px
}

.loginbutton{
    display: block;
    margin-top: 20px;
    width: auto;
    max-width: 100%;
    margin: 20px auto;
}

@media only screen and (max-device-width: 980px) {    
    .newscon{
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    margin: 40px 0;
    border: solid 4px #ff9900;
    height: auto;
    color: white;
    margin: auto ;

    text-align: center;
    font-size: 1.6em;
        padding: 10px
    }
    .newscon button{
        width: 60%
    }
    .loginbutton{
        min-width: 70%;
    }
}

@media only screen and (max-device-width: 480px) {    
    .newscon{
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    margin: 40px 0;
    border: solid 4px #ff9900;
    height: auto;
    color: white;
    margin: 80px auto ;
    text-align: center;
    font-size: 2em;
        padding: 40px
    }
    .newscon button{
        width: 60%
    }
    .loginbutton{
        min-width: 70%;
    }
}

@media only screen and (max-width: 620px) {
    .newscon{
        font-size: 0.8em
    }
}
    
    @media only screen and (min-width: 980px) {
        .konto{
            display: flex
        }
    }

@media only screen and (max-width: 980px) {
    .newscon{
        width: 80%;
        max-width: 600px;
    }
}
