<form action="/auth" method="post">
<input type="text" name="input">
<input type="hidden" name="_csrf" value="{{ csrfToken }}">
<button type="submit" style="width: 50px; height: 20px"></button>
</form>