<link rel="stylesheet" href="/stylesheets/forgot.css" />
<link rel="stylesheet" href="/stylesheets/newsletter.css" />


    <div class="bild f-bild">
        <div class="brotritter">
            <div class="maenu" title="Brotritter" OnClick="location.href='/'"></div>
        </div>
        <div class="viereck">
            <div class="comp-logo" OnClick="location.href='/'"></div>
            <div class="konto-container">
                <div class="hilfe">
                    <a class="kontakt" title="Kontakt" href="/kontakt"> KONTAKT </a>
                </div>
            </div>
        </div>
        <div class="newsheader"><h1>Seltene Angebote und Neuigkeiten von Brotritter <br> und Bäckereien in Ihrer Umgebung bekommen:</h1></div>

    <div class="newscon">
        <form action="/newsletter" method="post">
            <div>
                Postleitzahl:
                <input name="postleitzahl" type="postleitzahl" class="form-control" placeholder="Postleitzahl">
            </div>
            <div>
                E-Mail*:
                <input name="email" type="email" class="form-control" placeholder="E-Mail" required>
            </div>


            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-default btn-primary loginbutton">Newsletter bekommen</button>

            <h5>*Sie können dem Erhalt vom Newsletter jederzeit widersprechen</h5>
        </form>
    </div>
    </div>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000000"
    },
    "button": {
      "background": "#ff9900"
    }
  }
  "content": {
    "message": "Unsere Website verwendet Cookies, um die bestmögliche Nutzung unserer Website zu gewährleisten.",
    "dismiss": "Alles klar!",
    "link": "Mehr erfahren",
    "href": "https://www.brotritter.de/datenschutz"
  }
})});
</script>

<div class="impress">
    <div class="impresscon">
        <div class="sideopt "OnClick="location.href='/newsletter'">Newsletter bekommen</div>
        <div><a href="/impressum">Impressum</a>&nbsp;/&nbsp;<a href="/datenschutz">Datenschutz</a></div>
        <div class="sideopt" OnClick="location.href='/mitgliedschaft'">Jetzt Partner werden</div>
    </div>
</div>